body {
    min-height: 100vh !important;
    background-color: #fff !important;
    overflow-x: hidden;
}

.spacer-svg {
    aspect-ratio: 960/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-svg {
    background-image: url("/assets/hero-wave.svg");
}
